body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(255, 126, 95, 0.7), rgba(254, 180, 123, 0.7)), url('https://piskel-imgstore-b.appspot.com/img/657fa570-f774-11ef-bf3c-d7cd4e3c9eb6.gif');
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}

.container {
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 35px;
}

.links .button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.1em;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links .button:hover {
    background-color: #0056b3;
}

.links .discord-button {
    background-image: url('https://forum.overdosed.net/uploads/monthly_2020_03/fb0f017e191bc307d99055cae13a9ec1.gif.5e7c9ab0b2dc060a62d22a834a9e961d.gif'); /* Add your GIF URL here */
    background-size: 200px 200px; /* Set specific dimensions for the GIF */
    background-repeat: repeat;
    background-position: center;
}

footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: #777;
}